@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
  font-family: "GlacialIndifference bold";
  src: url("./fonts/GlacialIndifference-bold.otf") format("opentype");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-orange: #ffba50;
  --orange: #f89b0e;
  --bright-orange: #ffaa1b;
  --white: #ffffff;
  --slate: #020617;
  --dark-gray: #30302b;
  --mid-gray: #9c9c9c;
  --light-gray: #d9d9d9;
  --stone: #abb7b5;
  --plchlder: #787876;
  --road-col: #545454;
  --box: #edeae7;
  --rounded-border: 9999999999px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 30rem;
  width: 100%;
}

section,
main {
  padding: 2.5rem 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--dark-gray);
  word-break: break-all;
}

li {
  list-style: none;
}

.heading span {
  font-weight: 200;
  font-size: 1.2rem;
}
.heading h2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main .wrapper {
  background-color: var(--light-orange);
  border-radius: 20px;
  padding-bottom: 1rem;
}
main h1 {
  font-size: 1.5rem;
}
main .top-content {
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem;
}
main .bottom-content {
  background-color: var(--white);
}
main .bottom-content .content {
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}
main .bottom-content .car-names {
  gap: 2rem;
}
main .bottom-content .cars {
  gap: 0.5rem;
}
main .bottom-content .cars span {
  font-weight: 700;
  font-size: 1.1rem;
}
main .bottom-content .download a {
  display: flex;
  background-color: var(--light-orange);
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 20px;
}

/*---------------------------------------------------- 
Shipment Area
----------------------------------------------------*/
.shipment .states ul {
  border-top: 2px solid var(--mid-gray);
  justify-content: space-between;
}
.shipment .states ul li {
  padding: 0.8rem 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.shipment .track {
  margin-top: 3rem;
}
.shipment .track h2 {
  font-size: 1.8rem;
}
.shipment .track .top-content {
  gap: 4rem;
}
.shipment .track .road {
  margin-top: 1rem;
  height: 1.8rem;
  width: 100%;
  background-color: var(--road-col);
  position: relative;
  border-radius: 60px;
}
.shipment .track .road .dots {
  border-top: 5px dashed var(--light-orange);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.shipment .track .road::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  right: 0;
  height: 3rem;
  width: 3rem;
  background-color: var(--road-col);
  border: 8px solid var(--light-orange);
  border-radius: var(--rounded-border);
  z-index: 2;
}
.shipment .track .road::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
  background-color: var(--orange);
  border: 8px solid var(--light-orange);
  border-radius: var(--rounded-border);
  z-index: 2;
}
.shipment .track .truck {
  position: relative;
}
.shipment .track .truck img {
  position: absolute;
  right: 5rem;
  margin-top: -0.6rem;
  width: 8rem;
  z-index: 10;
}
.shipment .track .map img {
  min-width: 100%;
  height: 35rem;
}
.shipment .track .date-time {
  margin-top: 2rem;
}
.shipment .track .date-time h3 {
  font-weight: 600;
  font-size: 1.6rem;
}
.shipment .track .date-time .time {
  color: var(--orange);
}

/*---------------------------------------------------- 
Planning Area
----------------------------------------------------*/
.planning {
  position: relative;
}
.planning::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 35%;
  top: 20%;
  background-color: var(--box);
  z-index: -10;
}
.planning::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 20%;
  top: 50%;
  right: 0;
  background-color: var(--box);
  z-index: -10;
}
.planning .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.planning h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark-gray);
}
.planning h2 span {
  font-size: inherit;
  font-weight: inherit;
  color: var(--orange);
}
.planning .wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.planning .steps {
  position: relative;
  grid-column: 2/-1;
}
.planning .horizontal-line {
  border-top: 2px solid var(--dark-gray);
  width: 90%;
}
.planning .vertical-line {
  position: absolute;
  border-left: 2px solid var(--dark-gray);
  height: 100%;
  left: 2rem;
  z-index: -1;
  padding-bottom: -2.5rem;
}
.planning ul {
  padding-top: 3rem;
  color: var(--dark-gray);
  display: grid;
  gap: 3rem;
}
.planning ul li {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.planning ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--road-col);
}
.planning ul li h2 {
  font-weight: 500;
  color: var(--orange);
}
.planning ul li h3 {
  font-size: 2.5rem;
  color: var(--road-col);
}
.planning ul li h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.planning ul li h3,
.planning ul li .location {
  color: var(--road-col);
  height: 4rem;
  width: 4rem;
  background-color: var(--bright-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-border);
}
.planning ul li .texts {
  display: grid;
  gap: 0.8rem;
}

/*---------------------------------------------------- 
Photo Area
----------------------------------------------------*/
.photo .wrapper {
  display: grid;
  gap: 3rem;
}
.photo .heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.photo .heading h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
.photo .heading a {
  display: flex;
  background-color: var(--bright-orange);
  font-size: 1.5rem;
  padding: 0.7rem 3rem;
  border-radius: 30px;
}
.photo .selects {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.photo .selects .select {
  height: 1rem;
  width: 100%;
  background-color: var(--light-orange);
}
.photo .update {
  margin-top: 2rem;
}
.photo .update span {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: 600;
}
.photo .pictures {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2rem;
}
.photo .pictures img {
  width: 100%;
  height: 100%;
  background-color: var(--light-orange);
}
.photo .pictures .pic {
  position: relative;
}
.photo .pictures .tick {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.photo .pictures .tick svg {
  color: red;
  width: 2rem;
  height: 2rem;
  color: var(--white);
  background-color: var(--orange);
  border-radius: var(--rounded-border);
}

@media (min-width: 640px) {
  main h1 {
    font-size: 2rem;
  }
  main .bottom-content .download {
    margin-right: 3rem;
  }
  main .bottom-content .download a {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */