@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
  font-family: "GlacialIndifference bold";
  src: url("./fonts/GlacialIndifference-bold.otf") format("opentype");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #dfb10e;
  --light-yellow: #dfb20e75;
  --white: #ffffff;
  --dark-gray: #30302b;
  --mid-gray: #9c9c9c;
  --light-gray: #d9d9d9;
  --stone: #abb7b5;
  --plchlder: #787876;
  --vehicale: #454d40;
  --dot: #e0d7d1;
  --green-dot: #9bcb76;
  --red-dot: #e80000;
  --blue-dot: #29bed0;
  --icon-bg: #f2f2f2;
  --icon-border: #cbcbcb;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: #0d4235;
}

img {
  max-width: 30rem;
}

section {
  padding: 2.5rem 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--dark-gray);
  word-break: break-all;
}

.heading span {
  font-weight: 200;
  font-size: 1.2rem;
}
.heading h2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  background-image: url("./images/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}
main::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(84, 84, 84, 0.5960784314);
}
main .container {
  position: relative;
  height: inherit;
}
main .wrapper {
  height: inherit;
}
main .wrapper h1,
main .wrapper h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
}
main .wrapper h1 {
  color: var(--yellow);
}
main .wrapper h2 {
  color: var(--white);
}

.quote {
  color: var(--dark-gray);
}
.quote h3,
.quote h2 {
  font-weight: 600;
  text-transform: uppercase;
}
.quote h2 {
  font-size: 2.1rem;
  color: var(--dark-gray);
}
.quote h3 {
  margin-top: 0.5rem;
  color: var(--yellow);
  font-size: 1.2rem;
}
.quote .switch-state {
  margin-top: 3rem;
  position: relative;
}
.quote .switch-state::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 2.5rem;
  margin-top: 0.5rem;
  background: rgb(84, 84, 84);
  background: linear-gradient(90deg, rgb(84, 84, 84) 0%, rgb(223, 177, 14) 100%);
}
.quote .switch-state .items {
  position: relative;
  gap: 1rem;
  align-items: start;
  justify-content: center;
}
.quote .switch-state .items .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.quote .switch-state .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
  transition: 0.5s;
  background: rgb(242, 242, 242);
  background: linear-gradient(151deg, rgb(242, 242, 242) 0%, rgb(214, 214, 214) 100%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 99999999px;
}
.quote .switch-state .items .item .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(151deg, rgb(235, 235, 235) 0%, rgb(238, 238, 238) 100%);
  width: 3rem;
  height: 3rem;
  border-radius: 99999999px;
}
.quote .switch-state .items .item img {
  width: 2.5rem;
  height: 2rem;
}
.quote .switch-state .items .dots {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.quote .switch-state .items .dots .dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 999999px;
  background-color: var(--dot);
}
.quote .switch-state .items .dots .dot.active-dot {
  background-color: var(--white);
  height: 1.2rem;
  width: 1.2rem;
}
.quote .switch-state .items .dots .dot.active-dot.green {
  border: 5px solid var(--green-dot);
}
.quote .switch-state .items .dots .dot.active-dot.red {
  border: 5px solid var(--red-dot);
}
.quote .switch-state .items .dots .dot.active-dot.blue {
  border: 5px solid var(--blue-dot);
}
.quote .switch-state .items .item.active {
  background: rgb(198, 198, 198);
  background: linear-gradient(-150deg, rgb(224, 224, 224) 0%, rgb(207, 207, 207) 100%);
}
.quote .switch-state .items .img.active {
  background: rgb(198, 198, 198);
  background: linear-gradient(150deg, rgb(204, 204, 204) 0%, rgb(185, 185, 185) 100%);
}
.quote .form-data {
  margin-top: 4rem;
  position: relative;
}
.quote .form-data .form-1,
.quote .form-data .form-2,
.quote .form-data .form-3 {
  gap: 2rem;
  overflow: hidden;
}
.quote .form-data label {
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  font-family: "GlacialIndifference bold";
}
.quote .form-data .filed {
  display: grid;
  gap: 0.5rem;
  width: 90%;
}
.quote .form-data .filed .grid-items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.quote .form-data .filed .grid-items input {
  margin-top: 0.6rem;
}
.quote .form-data input,
.quote .form-data textarea {
  background-color: var(--stone);
  border: 0;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 3px solid transparent;
  transition: 0.5s;
  outline: none;
  color: var(--dark-gray);
  padding-left: 1rem;
  width: 100%;
}
.quote .form-data ::-moz-placeholder {
  color: var(--plchlder);
  font-family: "GlacialIndifference";
}
.quote .form-data ::placeholder {
  color: var(--plchlder);
  font-family: "GlacialIndifference";
}
.quote .form-data input[type=text]:focus {
  border: 3px solid var(--light-yellow);
}
.quote .form-data input[type=number]::-webkit-inner-spin-button,
.quote .form-data input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quote .form-data .boat-btn {
  cursor: pointer;
  background-color: var(--yellow);
  font-size: 1.2rem;
  font-family: "GlacialIndifference bold";
}
.quote .form-data .boat-btn h4 {
  color: var(--dark-gray);
  padding: 0.5rem 0.7rem;
}
.quote .form-data .boat-btn .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.7rem;
  background-color: var(--stone);
  font-size: 1rem;
}
.quote .form-data .boat-btn .plus svg {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--yellow);
  border-radius: 999999px;
  color: var(--white);
}
.quote .form-data .note label {
  text-align: start;
}
.quote .form-data .form-3 label {
  text-align: start;
}
.quote .buttons {
  margin-top: 2rem;
  gap: 2rem;
  justify-content: space-around;
}
.quote .buttons button {
  cursor: pointer;
  background-color: var(--yellow);
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border: none;
  color: var(--dark-gray);
  border-radius: 10px;
  font-weight: 600;
}
.quote p {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

@media (min-width: 400px) {
  main {
    height: 80vh;
  }
  main .wrapper h1,
  main .wrapper h2 {
    font-size: 3rem;
  }
  .quote h2 {
    font-size: 2.8rem;
  }
  .quote h3 {
    font-size: 1.4rem;
  }
  .quote .switch-state::before {
    height: 4.2rem;
    margin-top: 0.6rem;
  }
  .quote .switch-state .items .item {
    width: 5.5rem;
    height: 5.5rem;
  }
  .quote .switch-state .items .item .img {
    width: 5rem;
    height: 5rem;
  }
  .quote .switch-state .items .item img {
    width: 2.5rem;
    height: 2rem;
  }
  .quote .form-data .filed .grid-items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .quote p {
    font-size: 1rem;
  }
}
@media (min-width: 640px) {
  main {
    height: 90vh;
  }
  main .wrapper h1,
  main .wrapper h2 {
    font-size: 3.5rem;
  }
  .quote h2 {
    font-size: 3.2rem;
  }
  .quote h3 {
    font-size: 1.6rem;
  }
  .quote .form-data .filed {
    gap: 0.5rem;
    width: 80%;
  }
  .quote .form-data input,
  .quote .form-data textarea {
    font-size: 1.3rem;
  }
  .quote .form-data label {
    font-size: 1.5rem;
  }
  .quote .form-data .boat-btn {
    font-size: 1.4rem;
  }
  .quote .form-data .boat-btn h4 {
    padding: 0.6rem 1rem;
  }
  .quote .form-data .boat-btn .plus {
    padding: 0.6rem 1rem;
  }
  .quote .form-data .boat-btn .plus svg {
    width: 2rem;
    height: 2rem;
  }
  .quote .switch-state::before {
    height: 4.2rem;
    margin-top: 0.6rem;
  }
  .quote .switch-state .item {
    width: 6.5rem;
    height: 6.5rem;
  }
  .quote .switch-state .item .img {
    width: 6rem;
    height: 6rem;
  }
  .quote .switch-state .item img {
    width: 3rem;
    height: 3rem;
  }
  .quote .buttons button {
    font-size: 1.5rem;
  }
  .quote p {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  main {
    height: 100vh;
  }
  main .wrapper h1,
  main .wrapper h2 {
    font-size: 5rem;
  }
  .quote h2 {
    font-size: 3.5rem;
  }
  .quote h3 {
    font-size: 1.8rem;
  }
  .quote .switch-state::before {
    height: 4.2rem;
    margin-top: 0.7rem;
  }
  .quote .switch-state .items {
    gap: 2rem;
  }
  .quote .switch-state .item {
    width: 6.5rem;
    height: 6.5rem;
  }
  .quote .switch-state .item .img {
    width: 6rem;
    height: 6rem;
  }
  .quote .switch-state .item img {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.disable {
  cursor: default !important;
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */