// Import Font
@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
  font-family: "GlacialIndifference bold";
  src: url("./fonts/GlacialIndifference-bold.otf") format("opentype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-orange: #ffba50;
  --orange: #f89b0e;
  --bright-orange: #ffaa1b;
  --white: #ffffff;
  --slate: #020617;
  --dark-gray: #30302b;
  --mid-gray: #9c9c9c;
  --light-gray: #d9d9d9;
  --stone: #abb7b5;
  --plchlder: #787876;
  --road-col: #545454;
  --box: #edeae7;
  --table-bg: #ebe6e2;
  --rounded-border: 9999999999px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 30rem;
  width: 100%;
}

section,
main {
  padding: 2.5rem 0;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--dark-gray);
  word-break: break-all;
}
li {
  list-style: none;
}

.heading {
  span {
    font-weight: 200;
    font-size: 1.2rem;
  }
  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
}

.hidden {
  display: none;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  .wrapper {
    background-color: var(--light-orange);
    border-radius: 20px;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  .top-content {
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }

  .bottom-content {
    background-color: var(--white);

    .content {
      justify-content: space-between;
      padding: 1rem 0.3rem;
      gap: 1rem;
    }

    .car-names {
      gap: 1rem;
    }

    .cars {
      gap: 0.5rem;

      span {
        font-weight: 700;
        font-size: 0.9rem;
      }
    }

    .download {
      a {
        display: flex;
        background-color: var(--light-orange);
        text-align: center;
        padding: 0.4rem 0.8rem;
        font-size: 0.95rem;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 20px;
      }
    }
  }
}
// States
.states {
  ul {
    border-top: 2px solid var(--mid-gray);
    padding-top: 0.8rem;
    justify-content: space-between;
    position: relative !important;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));
    height: 100%;

    li {
      z-index: 20;
      margin: 0 !important;
      align-self: center;
      height: 100%;
      padding-bottom: 1rem !important;

      span {
        font-size: 0.95rem;
      }

      border-bottom: 4px solid var(--light-gray);

      border-radius: 30px;
    }

    .swiper-pagination-bullet {
      min-width: 170;
      padding: 5px 10px;
      border-radius: 0;
      width: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0.7rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;
      opacity: 1;
      background-color: transparent;
    }

    .swiper-pagination-bullet-active {
      color: var(--orange);
      border-bottom: 4px solid var(--orange);
      border-radius: 2px;
    }
  }
}

/*---------------------------------------------------- 
History Area
----------------------------------------------------*/
.history {
  .wrapper {
    gap: 2rem;
    justify-content: space-between;
    letter-spacing: 3px;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    .left-items,
    .right-items {
      display: grid;
      gap: 5rem;
    }

    .left-items {
      grid-column: span 2 / span 2;
    }
    .right-items {
      grid-column: span 5 / span 5;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }

    .infos {
      display: grid;
      gap: 3rem;
    }

    .date-time,
    .info {
      display: grid;
      gap: 0.5rem;
    }

    .info {
      position: relative;
    }

    h3 {
      font-weight: 600;
      font-size: 1rem;
    }

    .title {
      text-transform: uppercase;
    }
    .time {
      color: var(--orange);
    }
  }

  .road {
    width: 1.4rem;
    min-height: 100%;
    background-color: var(--road-col);
    position: relative;
    border-radius: 60px;
    display: grid;
    justify-content: center;

    .dots {
      border-left: 5px dashed var(--light-orange);
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }

  .circles {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .circle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 2.2rem;
    width: 2.2rem;
    background-color: var(--road-col);
    border: 6px solid var(--light-orange);
    border-radius: var(--rounded-border);
    z-index: 10;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--orange);
    border-radius: 60px;
    height: 80%;

    img {
      position: inherit;
      right: 5rem;
      width: 2.7rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      bottom: 0;
    }
  }

  .circle.last {
    background-color: var(--orange);
  }
}
/*---------------------------------------------------- 
Shipment Area
----------------------------------------------------*/
.shipment {
  .dropdowns {
    display: grid;
    justify-content: space-around;
    overflow: scroll;
    gap: 2rem;
    .drop-btn {
      display: flex;
      background-color: var(--bright-orange);
      padding: 0.7rem 1rem;
      width: 100%;
      border-radius: 10px;
      font-size: 1rem;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;

      h3 {
        font-size: 1rem;
        width: 90%;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      svg {
        width: 10%;
        height: 1.2rem;
        width: 1.2rem;
        transition: 0.4s ease-in;
      }

      .rotate {
        transform: rotate(180deg);
      }
    }

    .content {
      margin-top: 1rem;
      max-height: 0;
      overflow: hidden;
      transition: 0.4s ease-in;
    }

    .full-height {
      max-height: 450px;
    }
    table {
      border-collapse: collapse;
      background-color: var(--table-bg);
      width: 100%;
    }
    td {
      border: 2px solid var(--orange);
      padding: 0.5rem;
      text-align: center;
    }
  }
}
/*---------------------------------------------------- 
Transit Area
----------------------------------------------------*/
.transit {
  h2 {
    font-size: 1.5rem;
  }

  .top-content {
    gap: 2.5rem;
  }

  .road {
    margin-top: 1rem;
    height: 1.4rem;
    width: 100%;
    background-color: var(--road-col);
    position: relative;
    border-radius: 60px;

    .dots {
      border-top: 4px dashed var(--light-orange);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      right: 0;
      height: 2.5rem;
      width: 2.5rem;
      background-color: var(--road-col);
      border: 8px solid var(--light-orange);
      border-radius: var(--rounded-border);
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      height: 2.5rem;
      width: 2.5rem;
      background-color: var(--orange);
      border: 8px solid var(--light-orange);
      border-radius: var(--rounded-border);
      z-index: 2;
    }
  }

  .truck {
    position: relative;
    img {
      position: absolute;
      right: 5rem;
      margin-top: -0.62rem;
      width: 7rem;
      z-index: 10;
    }
  }

  .map {
    img {
      min-width: 100%;
      max-height: 35rem;
    }
  }

  .date-time {
    margin-top: 1.5rem;

    h3 {
      font-weight: 600;
      font-size: 1.35rem;
    }
    .time {
      color: var(--orange);
    }
  }
}
/*---------------------------------------------------- 
Photo Area
----------------------------------------------------*/
.photo {
  .wrapper {
    display: grid;
    gap: 3rem;
    overflow: hidden;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;

    h2 {
      font-size: 1.3rem;
      text-transform: capitalize;
    }

    .download {
      a {
        display: flex;
        background-color: var(--light-orange);
        text-align: center;
        padding: 0.55rem 1.8rem;
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 20px;
      }
    }
  }

  .selects {
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    .select {
      height: 0.7rem;
      width: 100%;
      background-color: #f89a0e60;
      border-radius: 10px;
      transition: 0.3s ease-in-out;
    }

    .active {
      background-color: var(--orange);
    }
  }
  .update {
    margin-top: 1.5rem;
    span {
      color: var(--orange);
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .pictures {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 1.5rem;
    img {
      width: 100%;
      height: 100%;
      background-color: var(--light-orange);
    }

    .pic {
      position: relative;
    }

    .tick {
      position: absolute;
      top: 10%;
      right: 10%;
      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--white);
        background-color: var(--light-gray);
        border-radius: var(--rounded-border);
        transition: 0.3s ease-in-out;
      }

      .active {
        background-color: var(--orange);
      }
    }
  }
}

/*---------------------------------------------------- 
Planning Area
----------------------------------------------------*/
.planning {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 35%;
    top: 20%;
    background-color: var(--box);
    z-index: -10;
  }
  &::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 20%;
    top: 50%;
    right: 0;
    background-color: var(--box);
    z-index: -10;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--dark-gray);

    span {
      font-size: inherit;
      font-weight: inherit;
      color: var(--orange);
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .steps {
    position: relative;
    grid-column: 1/ -1;
  }
  .horizontal-line {
    border-top: 2px solid var(--dark-gray);
    width: 90%;
  }

  .vertical-line {
    position: absolute;
    border-left: 2px solid var(--dark-gray);
    height: 100%;
    left: 1.4rem;
    z-index: -1;
    padding-bottom: -2.5rem;
  }

  ul {
    padding-top: 3rem;
    color: var(--dark-gray);
    display: grid;
    gap: 3rem;

    li {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      svg {
        width: 1.8rem;
        height: 1.8rem;
        color: var(--road-col);
      }

      h2 {
        font-weight: 500;
        color: var(--orange);
        font-size: 1.4rem;
      }

      h3 {
        font-size: 1.2rem;
        color: var(--road-col);
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 400;
      }

      h3,
      .location {
        color: var(--road-col);
        height: 2.8rem;
        width: 2.8rem;
        background-color: var(--bright-orange);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--rounded-border);
      }

      .texts {
        display: grid;
        gap: 0.8rem;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: var(--orange);
  background-color: #5454542a;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: var(--rounded-border);
  &::after {
    font-weight: 700;
    font-size: 2rem;
  }
}

@media (min-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  main {
    .bottom-content {
      background-color: var(--white);

      .content {
        padding: 1rem;
        gap: 2rem;
      }

      .car-names {
        gap: 2rem;
      }

      .cars {
        gap: 0.5rem;

        span {
          font-size: 1.2rem;
        }
      }

      .download {
        a {
          padding: 0.5rem 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  // History
  .history {
    .wrapper {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
  // Photo
  .photo {
    .pictures {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
@media (min-width: 640px) {
  main {
    h1 {
      font-size: 2rem;
    }
    .bottom-content {
      padding: 0 1rem;
      .download {
        a {
          padding: 1rem 2rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .transit {
    .states {
      ul {
        li {
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .states {
    ul {
      overflow: hidden;
      li {
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  // History
  .history {
    .wrapper {
      h3 {
        font-size: 1.5rem;
      }
    }
    .swiper-pagination-bullet {
      padding: 0.8rem 1rem;
    }
  }

  // Shipment
  .shipment {
    .dropdowns {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .drop-btn {
        h3 {
          font-size: 1.1rem;
        }
      }
    }
  }

  // Transit
  .transit {
    .track {
      h2 {
        font-size: 1.8rem;
      }
    }

    .top-content {
      gap: 4rem;
    }

    .road {
      height: 1.8rem;
      .dots {
        border-top: 5px dashed var(--light-orange);
        position: absolute;
      }
      &::before,
      &::after {
        height: 3rem;
        width: 3rem;
      }
    }

    .truck {
      img {
        right: 5rem;
        margin-top: -0.6rem;
        width: 8rem;
      }
    }

    .date-time {
      margin-top: 2rem;

      h3 {
        font-size: 1.6rem;
      }
    }
  }

  // Photo
  .photo {
    .wrapper {
      gap: 3rem;
    }
    .heading {
      gap: 2rem;

      h2 {
        font-size: 2rem;
      }

      .download {
        a {
          display: flex;
          background-color: var(--light-orange);
          text-align: center;
          padding: 0.8rem 2.5rem;
          font-size: 1.3rem;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 20px;
        }
      }
    }

    .update {
      margin-top: 2rem;
      span {
        color: var(--orange);
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .selects {
      margin-top: 1.5rem;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(6, minmax(0, 1fr));

      .select {
        height: 0.8rem;
      }
    }

    .pictures {
      gap: 2rem;
      margin-top: 2rem;

      .tick {
        top: 1rem;
        right: 1rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  // Planning
  .planning {
    position: relative;

    .heading {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .steps {
      position: relative;
      grid-column: 2/ -1;
    }
    .horizontal-line {
      border-top: 2px solid var(--dark-gray);
      width: 90%;
    }

    .vertical-line {
      position: absolute;
      border-left: 2px solid var(--dark-gray);
      left: 2rem;
      padding-bottom: -2.5rem;
    }

    ul {
      padding-top: 3rem;
      gap: 3rem;

      li {
        display: flex;
        align-items: center;
        gap: 6rem;

        svg {
          width: 2.5rem;
          height: 2.5rem;
        }

        h2 {
          font-weight: 500;
          color: var(--orange);
          font-size: 2rem;
        }

        h3 {
          font-size: 2.5rem;
        }

        h4 {
          font-size: 1.4rem;
        }

        h3,
        .location {
          height: 4rem;
          width: 4rem;
        }

        .texts {
          gap: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .shipment {
    .dropdowns {
      .drop-btn {
        h3 {
          font-size: 1.3rem;
        }
      }
    }
  }
}
